body{
    background-color: white;
}

$color-primary: #9356DC;
$color-primary-pale: #eee1fd;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiary-dark: #137d61;
$color-background:#F2F2F2;
$color-shadow:#bbbbbb;
$color-footer:#2f2f2f;
$color-location:#e6e6e6;
$color-hover:#555;